heading {
  color: #F50000;
  margin-left: 20px;
  font-family: 'Times New Roman', Times, serif;
  border-radius: 10px;
  border-color: #000000;
  border-width: 5px;
  border-style: solid;
  font-size: 20px;
}

title_box {
  color: #F24040;
  background: #964B00;
  width: 300px;
  height: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}