.heading {
  color: #F50000;
  margin-left: 20px;
  font-family: 'Times New Roman', Times, serif;
  border-radius: 10px;
  border-color: #000000;
  border-width: 5px;
  border-style: solid;
  font-size: 20px;
}

.heading.main {
  color: #0000FF;
  margin-left: 20px;
  font-family: 'Times New Roman', Times, serif;
  border-radius: 10px;
  border-color: #000000;
  border-width: 5px;
  border-style: solid;
  font-size: 20px; 
}

.titlebox {
  color: #F24040;
  background: #964B00;
  width: 300px;
  height: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.titlebox strong {
  color: #0f0;
  width: 300px;
  height: 50px;
  font-size: 30px;
  background: #000;
}

.button {
    background: #F24040;
    color: #000000;
    text-align: center;
    display: inline-block;
    font-size: 15px;
}

.button:hover {
    background: #FF0000;
    color: #FFFFFF;
    text-align: center;
    display: inline-block;
    font-size: 15px;
}

a:link {
    color: black;
}

#redColor {
    color: red;
}

.textbox {
  color: #F24040;
  background: #FFFFFF;
}

.square {
  background: #097810;
  width: 50px;
  height: 50px;
}